.sidebar {
  display: none;
  @include respond-to('medium'){
    display:block;
    padding: 0 2rem;
  }
    
  &__about {
    width: 100%;
  }
  
  &__pinned {
    width: 100%;
    img{
      width: 100%;
    }
  }
}
  

  .tags {
    border-bottom: 1px solid gray;
  }

  .tags ul {
    padding: 0;
    list-style: none;
  }
  
  .tags ul li {
    padding: 2px 4px;
    background-color: steelblue;
    margin-right: 1px;
    color: white;
  }