.menu {
  padding: 10px;
  border-bottom: 1px solid gray;
  
  
  &__logo {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    display: inline;
  }

  &__input {
    border-radius: 1.875rem;
  }
}
  
  .menu__links {
    display: inline-block;
    ul{
      list-style: none;
      li{
        display: inline;
      }
      a{
        text-decoration: none;
            text-transform: uppercase;
      }
    }
}


  


