.menu {
  color:brown;
  padding: 10px;
  border-bottom: 1px solid gray;
  padding-bottom: 20px;
  margin: 0 auto;
  
  
  &__logo {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    display: inline;
  }

  &__input {
    border-radius: 1.875rem;
  }
}
  
  .menu__links {
    color: black;
    display: inline;
    float: right;
    text-align: right;
    ul{
      list-style: none;
      
      li{
        display: inline;
      }
      a{

        color: black;
        font-weight: 700;
        padding: 2px;
        text-decoration: none;
        text-transform: uppercase;
      }
    }
}

.menu__links-about{
  display: none;
  @include respond-to('medium'){
  display: inline;
  
  }
}






  


