.content {
    width: 95%;
    margin: auto;
    @include respond-to('medium'){
      width: 80%;
    }
  }

  .news {
    width: 700px;
    float: left;
  }


  
  .news__post {
    width: 210px;
    display: inline-block;
    cursor: pointer;
  }
  
  .news__description {
    margin: 5px;
  }

  .news__description img {
    width: 100%;
    
  }
  
  .news__description p {
    padding: 5px 10px;
  }
