
.content {
    width: 95%;
    margin: auto;
    @include respond-to('medium'){
      width: 80%;
    }
  }

  .news {
    width: 100%;
    float: left;
  }
  
  .news__post {
    width: 100%;
    display: inline-block;
    cursor: pointer;
  }
  
  .news__description {
    margin: 1px;
    width: 100%;
    padding: 2px;

  }

  .news__description img {
    width: 100%;
    align-items: center;
    
    
  }
  
  .news__description p {
    padding: 4px 10px;
  }
