.content {
    width: 960px;
    margin: 0 auto;
  }

  .news {
    width: 700px;
    float: left;
  }
  
  .news__post {
    width: 210px;
    display: inline-block;
    margin: 5px;
    cursor: pointer;
  }
  
  .news__description img {
    width: 210px;
    height: 300px;
  }
  
  .news__description p {
    padding: 5px 10px;
  }
