* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #f2f4f5;
}

.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.col-xs-12 {
  grid-column: span 12;
}

.col-xs-11 {
  grid-column: span 11;
}

.col-xs-10 {
  grid-column: span 10;
}

.col-xs-9 {
  grid-column: span 9;
}

.col-xs-8 {
  grid-column: span 8;
}

.col-xs-7 {
  grid-column: span 7;
}

.col-xs-6 {
  grid-column: span 6;
}

.col-xs-5 {
  grid-column: span 5;
}

.col-xs-4 {
  grid-column: span 4;
}

.col-xs-3 {
  grid-column: span 3;
}

.col-xs-2 {
  grid-column: span 2;
}

.col-xs-1 {
  grid-column: span 1;
}

@media (min-width: 576px) {
  .col-sm-12 {
    grid-column: span 12;
  }

  .col-sm-11 {
    grid-column: span 11;
  }

  .col-sm-10 {
    grid-column: span 10;
  }

  .col-sm-9 {
    grid-column: span 9;
  }

  .col-sm-8 {
    grid-column: span 8;
  }

  .col-sm-7 {
    grid-column: span 7;
  }

  .col-sm-6 {
    grid-column: span 6;
  }

  .col-sm-5 {
    grid-column: span 5;
  }

  .col-sm-4 {
    grid-column: span 4;
  }

  .col-sm-3 {
    grid-column: span 3;
  }

  .col-sm-2 {
    grid-column: span 2;
  }

  .col-sm-1 {
    grid-column: span 1;
  }
}
@media (min-width: 768px) {
  .col-md-12 {
    grid-column: span 12;
  }

  .col-md-11 {
    grid-column: span 11;
  }

  .col-md-10 {
    grid-column: span 10;
  }

  .col-md-9 {
    grid-column: span 9;
  }

  .col-md-8 {
    grid-column: span 8;
  }

  .col-md-7 {
    grid-column: span 7;
  }

  .col-md-6 {
    grid-column: span 6;
  }

  .col-md-5 {
    grid-column: span 5;
  }

  .col-md-4 {
    grid-column: span 4;
  }

  .col-md-3 {
    grid-column: span 3;
  }

  .col-md-2 {
    grid-column: span 2;
  }

  .col-md-1 {
    grid-column: span 1;
  }
}
@media (min-width: 992px) {
  .col-lg-12 {
    grid-column: span 12;
  }

  .col-lg-11 {
    grid-column: span 11;
  }

  .col-lg-10 {
    grid-column: span 10;
  }

  .col-lg-9 {
    grid-column: span 9;
  }

  .col-lg-8 {
    grid-column: span 8;
  }

  .col-lg-7 {
    grid-column: span 7;
  }

  .col-lg-6 {
    grid-column: span 6;
  }

  .col-lg-5 {
    grid-column: span 5;
  }

  .col-lg-4 {
    grid-column: span 4;
  }

  .col-lg-3 {
    grid-column: span 3;
  }

  .col-lg-2 {
    grid-column: span 2;
  }

  .col-lg-1 {
    grid-column: span 1;
  }
}
@media (min-width: 1200px) {
  .col-xl-12 {
    grid-column: span 12;
  }

  .col-xl-11 {
    grid-column: span 11;
  }

  .col-xl-10 {
    grid-column: span 10;
  }

  .col-xl-9 {
    grid-column: span 9;
  }

  .col-xl-8 {
    grid-column: span 8;
  }

  .col-xl-7 {
    grid-column: span 7;
  }

  .col-xl-6 {
    grid-column: span 6;
  }

  .col-xl-5 {
    grid-column: span 5;
  }

  .col-xl-4 {
    grid-column: span 4;
  }

  .col-xl-3 {
    grid-column: span 3;
  }

  .col-xl-2 {
    grid-column: span 2;
  }

  .col-xl-1 {
    grid-column: span 1;
  }
}
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    display: block;
    padding: 0 2rem;
  }
}
.sidebar__about {
  width: 100%;
  color: brown;
}
.sidebar__about p {
  color: black;
}
.sidebar__pinned {
  width: 100%;
}
.sidebar__pinned h1 {
  color: brown;
}
.sidebar__pinned img {
  width: 100%;
}

.tags {
  border-bottom: 1px solid gray;
  color: brown;
}

.tags ul {
  padding: 0;
  list-style: none;
}

.tags ul li {
  padding: 2px 4px;
  background-color: steelblue;
  margin-right: 1px;
  color: white;
  display: inline;
  list-style-type: none;
  margin-bottom: 1.25rem;
}

.footer {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.menu {
  color: brown;
  padding: 10px;
  border-bottom: 1px solid gray;
  padding-bottom: 20px;
  margin: 0 auto;
}
.menu__logo {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  display: inline;
}
.menu__input {
  border-radius: 1.875rem;
}

.menu__links {
  color: black;
  display: inline;
  float: right;
  text-align: right;
}
.menu__links ul {
  list-style: none;
}
.menu__links ul li {
  display: inline;
}
.menu__links ul a {
  color: black;
  font-weight: 700;
  padding: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

.menu__links-about {
  display: none;
}
@media (min-width: 768px) {
  .menu__links-about {
    display: inline;
  }
}

.newsletter {
  width: 100%;
  background-color: #cdd3d6;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.newsletter h2 {
  font-size: 24px;
}

.suscription__input {
  display: inline-block;
  border-width: 0;
  font-size: 13px;
  padding: 5px 10px;
}
.suscription__button {
  display: inline-block;
  border-width: 0;
  font-size: 13px;
  padding: 5px 10px;
  background-color: coral;
  color: white;
}
@media (min-width: 768px) {
  .suscription__button {
    background-color: #f78809;
    color: white;
  }
}

.content {
  width: 95%;
  margin: auto;
}
@media (min-width: 768px) {
  .content {
    width: 80%;
  }
}

.news {
  width: 100%;
}

.news__post {
  width: 100%;
  display: inline-block;
  cursor: pointer;
}

.news__description {
  margin: 0.063;
  width: 100%;
  padding: 2px;
}

.news__description img {
  width: 100%;
  align-items: center;
  padding: 3px;
}

.news__description p {
  padding: 4px 10px;
}

/*# sourceMappingURL=style.css.map */
